.app-auth {
  height: 100vh;
  margin: 0 auto;
}

.app-brand-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  color: #ffffff;
}

.app-brand {
  width: 100%;
  margin-top: -70px;
}

.app-profile-form {
  margin-top: 50px;
  background-color: #fff;
  padding: 25px 0;
  border-radius: 16px;
  box-shadow: 0px 14px 23px #00000045;
}

.app-form-head {
  border-radius: 8px;
  padding: 0 25px 25px 25px;
}

.app-form-title {
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-size: 2.5em;
  color: #0165d2;
}

.app-form {
  padding: 25px;
  border-radius: 0 0 8px 8px;
}

.app-form-row {
  display: flex;
  margin-bottom: 36px;
  position: relative;
  flex-wrap: wrap;
  min-width: 300px;
}

.app-form-fp {
  font-size: 13px;
  width: 100%;
  text-align: right;
  margin-top: 8px;
}

.app-form-label {
  font-size: 14px;
  color: #828282;
  align-self: center;
  font-weight: 400;
  position: absolute;
  margin-left: 18px;
  transition: all 0.2s ease;
  top: 12px;
  left: 0;
}

.form-input {
  /* width: 300px; */
}

.form-input:focus + label, .form-input.--filled + label {
  top: -20px;
  left: -17px;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 600;
}

.app-form-controls {
  margin-top: 30px;
}

.auth-sign-bottom {
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
  color: #5f5f5f;
}

.main-profile-image {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.main-profile-wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

.main-profile-change {
  position: absolute;
  right: 8px;
  bottom: 12px;
  background-color: #007aff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  box-shadow: 0 0 3px #0000004f;
  cursor: pointer;
}

.main-profile-change svg {
  vertical-align: middle;
  color: #fff;
  width: 14px;
}

.profile-image {
  min-width: 300px;
}

.main-crop-image {
  vertical-align: middle;
}

.main-crop-image.--landscape {
  width: 100%;
}

.main-crop-image.--portrait {
  max-height: 300px;
}

.profile-image-crop {
  margin: 0 -25px;
}

.main-crop-area {
  max-width: 400px;
  overflow: hidden;
  position: relative;
}

.main-crop-area:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff9e;
}

.main-crop-scope {
  background-image: url(../images/crop.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px #0000002e inset;
  user-select: none;
  cursor: move;
  transition: all .2s cubic-bezier(0.25, 0.1, 0, 0.87);
}