.app-form-input {
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    padding: 0 10px;
    transition: box-shadow .3s ease, border-color .3s ease;
}

.app-form-input:focus {
    box-shadow: 0 0 6px #007aff;
    border-color: #007aff;
}