.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}

.trans-vm {
  top: 50%;
  transform: translateY(-50%);
}

.trans-hc {
  left: 50%;
  transform: translateX(-50%);
}

.trans-cm {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.link {
  color: #0165d2;
  font-weight: 500;
  cursor: pointer;
}